/* css reset */
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #962a2a;
}

blockquote {
  margin: 0 0 0 30px;
}

h1,
h3 {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 90px;
}

h3 {
  font-size: 30px;
  text-align: center;
  letter-spacing: -3px;
  word-spacing: 20px;
}

blockquote {
  font-style: italic;
  line-height: 50px;
  text-indent: 200px;
}
span {
  text-decoration: line-through;
}

em {
  text-transform: capitalize;
}

strong {
  text-transform: uppercase;
}

a {
  color: blueviolet;
  text-decoration: none;
}
